{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
         <div class="grix xs1 sm2">
        {{ form_row(registrationForm.email,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}
        {{ form_row(registrationForm.nom,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}
        {{ form_row(registrationForm.prenom,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}
        {{ form_row(registrationForm.profession,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}
        {{ form_row(registrationForm.address,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}
        {{ form_row(registrationForm.conctacts,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}
        {{ form_row(registrationForm.plainPassword,{'attr':{'placeholder':"description",'class':"form-control rounded-1",'label': 'Password'
        }}) }}
        {{ form_row(registrationForm.agreeTerms,{'attr':{'placeholder':"description",'class':"form-control rounded-1"}}) }}

       </div>
    {{ form_end(registrationForm) }}
     <button type="submit" class="btn">Register</button>
{% endblock %}
