{% extends 'base.html.twig' %}

{% block title %}LES UTILISATEURS{% endblock %}

{% block body %}
    <h1>LES UTILISATEURS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>profession</th>
                <th>regidence</th>
                <th>contact</th>
                <th>etat</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
               
                <td>{{ user.profession}}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.conctacts }}</td>
        
                <td>{{ user.isVerified }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}
