{% extends 'users.html.twig' %}

{% block title %}  <div class="col-xs4"><h1>{{ app.user.nom }} {{ app.user.prenom }} </h1></div>
{% endblock %}

{% block body %}
	<div class="grix xs4 container">
    <div class="col-xs4"><h1 style="font-weight: 200;font-weight: extra bold;font-weight: lighter;font-style: italic;">{{ app.user.nom }} {{ app.user.prenom }} </h1></div>
		  <div class="grix xs1 sm2">
		<div class="col-xs1">Nom</div>
		<div class="col-xs3">{{ app.user.nom }}</div>
		</div>
		  <div class="grix xs1 sm2">
		  	<div class="col-xs1">Prénom</div>
		<div class="col-xs3">{{ app.user.prenom }}</div>
	</div>
	<div class="grix xs1 sm2">
	<div class="col-xs1">Profession</div>
		<div class="col-xs3">{{ app.user.profession }}</div>
		</div>
		<div class="grix xs1 sm2">
		<div class="col-xs1">adresse</div>
		<div class="col-xs3">{{ app.user.address }}</div>
		</div>
		<div class="grix xs1 sm2">
		<div class="col-xs1">contacts</div>
		<div class="col-xs3">{{ app.user.conctacts }}</div>
		</div>
		<div class="grix xs1 sm2">
		
        <div class="col-xs4">
	</div>
     
	</div>
	</div>
    </div>
		<button class="btn shadow-1 rounded-1 blue"><a href="{{ path('annonce_new') }}">poste une annonce</button>
{% endblock %}
